/*-------------------------------------------------
Fonts
--------------------------------------------------*/
@font-face {
  font-family: Nurito;
  src: url("../fonts/nunito/static/Nunito-Regular.ttf");
}
@font-face {
  font-family: ArchitectsDaughter;
  src: url("../fonts/architects/ArchitectsDaughter-Regular.ttf");
}
/*
@font-face {
    font-family: Proxima_Nova;
    src: url("../fonts/Proxima Nova/ProximaNova-Regular.woff");
}
*/

/*-------------------------------------------------
CSS Reset
--------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------------
Styles
--------------------------------------------------*/
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: Nurito;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --primary-yellow: #f7c61d;
  --secondary-blue: #00394f;
  --third-black: #000000;
  --fourth-white: #ffffff;
}
/*-------------------------------------------------
Scrolls
--------------------------------------------------*/
#offer {
  scroll-margin: 5rem;
}
#about {
  scroll-margin: 6rem;
}
#contact {
  scroll-margin: 6rem;
}
/*-------------------------------------------------
Header
--------------------------------------------------*/
header {
  display: flex;
  position: sticky;
  top: 0;
  flex-grow: 1;
  /* border: 1px solid red; */
  background-color: var(--fourth-white);
  padding: 1.5rem 0;
  width: 100%;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  /* border: 1px solid blue; */
}
.header-logo {
  font-weight: 900;
  font-size: 4rem;
  padding-left: 2rem;
}
.header-logo > i {
  /* color: var(--secondary-blue); */
  /* transition: all 2s; */
  animation: rotate-logo;
  animation-direction: alternate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes rotate-logo {
    from {
    color: var(--third-black);
  }
  to {
    color: var(--secondary-blue);
    transform: rotateY(180deg);
  }
}
/* .header-logo > i:hover {
  color: var(--third-black);
  transform: rotateY(180deg);
} */
.header-logo > span {
  color: var(--primary-yellow);
  transition: all 2s;
}
.header-logo > span:hover {
  text-shadow: 3px 3px 8px var(--secondary-blue);
}
div.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  flex-grow: 1;
}
nav.header-navigation {
  display: flex;
  /* border: 1px solid green; */
}
nav.header-navigation > ul {
  display: flex;
  justify-content: flex-end;
}
nav.header-navigation > ul > li {
  display: flex;
}
nav.header-navigation > ul > li > a {
  font-size: 1.5rem;
  padding-right: 2rem;
  font-weight: 700;
  text-decoration: none;
  text-decoration: none;
  color: var(--secondary-blue);
  transition: all 0.5s;
}
nav.header-navigation > ul > li > a:hover {
  color: var(--primary-yellow);
  transform: scale(1.1);
}
nav.hamburger-menu {
  display: none;
  overflow: hidden;
}

input.hamburger-menu {
  display: none;
  overflow: hidden;
}
/*-------------------------------------------------
Main
--------------------------------------------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}
.home {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: var(--primary-yellow);
  padding: 4rem 1.5rem 4rem 1.5rem;
  box-shadow: 0 0 5px 15px var(--primary-yellow);
}
.home-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1px;
  flex-grow: 1;
  align-items: stretch;
  /* border: 1px solid red; */
}
.home-caption {
  font-size: 2rem;
  font-family: ArchitectsDaughter;
  font-style: italic;
  font-weight: 700;
  color: var(--secondary-blue);
}
.home-slogan {
  font-size: 3rem;
  line-height: 4rem;
  font-family: ArchitectsDaughter;
  font-style: italic;
  font-weight: 700;
  color: var(--secondary-blue);
  margin: 2rem 0;
  transition: all 1s;
}
.home-slogan:hover {
  color: var(--fourth-white);
  transform: scale(1.1) translateX(3rem);
}
.home-desctoption {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-family: ArchitectsDaughter;
  font-style: italic;
  font-weight: 700;
  color: var(--secondary-blue);
}
.home-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1px;
  flex-grow: 1;
  /* border: 1px solid red; */
}
.home-picture > img {
  max-width: 100%;
  height: auto;
  /* border: 1px solid red; */
}
/*-------------------------------------------------
Offer
--------------------------------------------------*/
.offer-caption-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: var(--secondary-blue);
  padding: 4rem 4rem;
}
.offer-caption {
  font-size: 5rem;
  font-family: ArchitectsDaughter;
  text-transform: capitalize;
}

.offer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: var(--secondary-blue);
  padding: 1rem 5rem;
}
.offer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25rem;
  box-shadow: 2px 2px 15px 5px black;
  margin: 2rem 1rem;
}
.offer-wrapper > div {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}
.offer-wrapper > div > img {
  display: block;
  width: 100%;
  transition: all 1s; /* Animation */
  margin: 0;
  padding: 0;
  /* border: 1px solid green; */
}
.offer-wrapper > div > img:hover {
  width: 100%;
  transform: rotateZ(10deg) scale(1.2);
}
.offer-wrapper > i {
  font-size: 5rem;
  margin: 2rem 0;
  /* border: 1px solid blue; */
  transition: all 0.5s;
}
.offer-wrapper > i:hover {
  color: var(--primary-yellow);
  transform: scale(1.2);
}
.offer-wrapper > span {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
  /* border: 1px solid red; */
}

/*-------------------------------------------------
About me
--------------------------------------------------*/
.about-caption-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: var(--secondary-blue);
  padding: 4rem 4rem;
  background-color: var(--primary-yellow);
  box-shadow: 0 0 5px 15px var(--primary-yellow);
}
.about-caption {
  font-size: 5rem;
  font-family: ArchitectsDaughter;
  text-transform: capitalize;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  background-color: var(--primary-yellow);
  box-shadow: 0 0 5px 15px var(--primary-yellow);
}
.about-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 2s;
}
.about-photo:hover {
  transform: scale(1.2);
}
.about-photo > img {
  width: calc(100% - 20rem);
  box-shadow: 2px 2px 15px 5px black;
}
.about-description {
  /* border: 1px solid black; */
  color: var(--secondary-blue);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 600;
  width: 100%;
}
.about-description > div > span {
  width: calc(100% - 5rem);
  display: block;
}
.about-description > div > span:first-child {
  display: block;
  font-size: 3rem;
  line-height: 4rem;
  width: calc(100% - 5rem);
}
.about-description > div > ul > li {
  padding-left: 2rem;
  list-style-position: inside;
  list-style-type: square;
}
/*-------------------------------------------------
Contact
--------------------------------------------------*/
.contact-caption-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: var(--secondary-blue);
  padding: 4rem 4rem;
}
.contact-caption {
  font-size: 5rem;
  font-family: ArchitectsDaughter;
  text-transform: capitalize;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem 0 8rem;
  color: var(--secondary-blue);
}
.contact-adress {
  display: flex;
  flex-direction: column;
  width: calc(50% - 3rem);
  /* border: 1px solid #000000; */
  box-shadow: 2px 2px 15px 5px black;
  align-items: center;
  padding: 2rem;
}
.contact-adress > div > span {
  display: block;
  margin: 0 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.contact-adress > div > span:first-child {
  display: block;
  margin: 1rem 1rem 0;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.contact-form {
  display: none;
  width: calc(50% - 20rem);
  border: 1px solid #000000;
  background-color: red;
}
.contact-info {
  display: flex;
  flex-direction: column;
  color: var(--secondary-blue);
  align-items: center;
  width: calc(50% - 20rem);
  /* border: 1px solid #000000; */
  font-size: 2rem;
  font-weight: 700;
}
.contact-info > i {
  font-size: 6rem;
  margin: 2rem 0;
}
.contact-info > a {
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--primary-yellow);
  text-decoration: none;
  transition: all 1s;
}
.contact-info > a:hover {
  transform: scale(1.2);
  font-weight: 900;
}
/*-------------------------------------------------
Articles
--------------------------------------------------*/

/*-------------------------------------------------
Aside
--------------------------------------------------*/

/*-------------------------------------------------
Footer
--------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  background-color: var(--secondary-blue);
  box-shadow: 0 0 5px 15px var(--secondary-blue);
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  background-color: var(--secondary-blue);
  box-shadow: 0 0 5px 15px var(--secondary-blue);
  color: var(--fourth-white);
  font-family: ArchitectsDaughter;
  font-size: 1.5rem;
}
.copyright :first-child {
  transition: all 1s;
}
.copyright :first-child:hover {
  color: var(--primary-yellow);
  transform: scale(1.2);
}
.copyright :nth-child(2) {
  transition: all 1s;
}
.copyright :nth-child(2):hover {
  color: var(--primary-yellow);
  transform: scale(1.2);
}
/*-------------------------------------------------
Media Queries
--------------------------------------------------*/

@media (max-width: 69rem) {
  /*-------------------------------------------------
Header
--------------------------------------------------*/
  header {
    padding: 1rem 1rem;
    justify-content: flex-start;
  }
  nav.header-navigation {
    display: none;
  }
  .header-wrapper {
    justify-content: flex-start;
  }
  .header-logo {
    padding-left: 0;
  }

  .header-logo > i {
    display: none;
  }
  div.header-menu {
    justify-content: flex-end;
    padding-right: 2rem;
  }
  /*-------------------------------------------------
    Hamburger menu
    --------------------------------------------------*/
  label.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 3rem;
    height: 3rem;
    /* border: 3px solid black; */
    overflow: hidden;
  }
  div.hamburger-button {
    width: 2rem;
    border: 0.4rem solid black;
    background-color: black;
    border-radius: 1rem;
    transition: all 1s ease-in-out;
  }
  input.hamburger-menu:checked
    ~ label.hamburger-menu
    div.hamburger-button:first-child {
    border: 0.4rem solid red;
    transform: translate(0, 1rem) rotateZ(-45deg);
    transition: all 0.5s ease-in-out 0.2s;
  }
  input.hamburger-menu:checked
    ~ label.hamburger-menu
    div.hamburger-button:nth-child(2) {
    /* display: none; */
    /* opacity: 0; */
    transform: translate(4rem, 0);
    transition: all 0.2s ease-in-out;
  }
  input.hamburger-menu:checked
    ~ label.hamburger-menu
    div.hamburger-button:last-child {
    border: 0.4rem solid blue;
    transform: translate(0, -1rem) rotate(45deg);
    transition: all 0.8s ease-in-out 0.2s;
  }
  input.hamburger-menu:checked ~ nav.hamburger-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6.5rem;
    left: 0;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    background-color: #f7c61d;
  }
  input.hamburger-menu:checked ~ nav.hamburger-menu > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* position: fixed; */
    top: 6.5rem;
    left: 0;
    padding-bottom: 5rem;
    /* width: 3rem; */
  }

  nav.hamburger-menu > ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem;
    /* border: 1px solid black; */
    /* background-color: #f7c61d; */
  }
  nav.hamburger-menu > ul > li > a {
    display: flex;
    /* font-family: Proxima_Nova; */
    font-size: 2rem;
    line-height: 6.5rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-blue);
    transition: ease-out 0.1s;
  }

  nav.hamburger-menu > ul > li > a:hover {
    color: var(--fourth-white);
    text-shadow: -2px 2px var(--secondary-blue);
  }
  /*-------------------------------------------------
Main
--------------------------------------------------*/
  .home {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .home-description {
    width: 100%;
  }
  .home-slogan {
    margin: 1.5rem 0;
    font-size: 3rem;
    line-height: 4rem;
  }
  .home-picture {
    width: 100%;
  }
  /*-------------------------------------------------
Offer
--------------------------------------------------*/
  .offer-caption-wrapper {
    margin: 4rem 0;
    justify-content: center;
  }
  .offer {
    padding: 1rem 1rem;
  }
  .offer-wrapper {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  /*-------------------------------------------------
About
--------------------------------------------------*/
  .about-caption-wrapper {
    margin: 0;
    padding: 4rem 0;
    justify-content: center;
  }
  .about {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1rem;
    width: calc(100% - 2rem);
  }
  .about-photo {
    width: 100%;
  }
  .about-photo > img {
    width: 100%;
  }
  .about-description {
    margin-top: 1.5rem;
    align-items: center;
  }
  /*-------------------------------------------------
Contact
--------------------------------------------------*/
  .contact-caption-wrapper {
    padding: 4rem 0;
    justify-content: center;
  }
  .contact {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .contact-adress {
    width: calc(100% - 3rem);
    padding: 0.5rem 0.5rem 1rem 0.5rem;
  }
  .contact-adress > img {
    width: 100%;
    height: auto;
  }
  .contact-info {
    margin-top: 4rem;
    width: 100%;
  }

  .copyright {
    display: flex;
    flex-direction: column;
  }
  .copyright > span {
    display: block;
    line-height: 2rem;
  }
}
